# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib

# Ignore Composer-managed dependencies.
vendor/

# Ignore configuration files that may contain sensitive information.
/docroot/sites/*/*settings*.php

# Ignore paths that contain user-generated content.
/docroot/sites/*/files

# OS X
.DS_Store

#Sass
.sass-cache
*.css.map